@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor-primaria: #BAC0DE;
    --cor-secundaria: #1A5774 ;
    --cor-rodape: #D4C5E0;
}

* {

    padding: 0px;
}



body {
    display: flex;
    flex-direction: column;
    text-align:start;
    color: #D4C5E0;
    font-style:oblique;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}
.fundo_pagina_1{
    background-image: url(/assets/wallpaper.jpg);
    background: cover;
}


.cabecalho {
    background-image: url(/assets/wallpaper.jpg);
    padding: 2%;
    color: #F2D8D8;
}

.entre_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    border-radius: 40px;
    background-color:#1A5774;
    padding: 15px 15px 15px 15px;
    color: #F2D8D8;
}

.menu_link_home {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 40px;
    background-color: #1A5774;
    color: #F2D8D8;
    text-decoration: none;
}

.cabecalho_link {
    display: flex;
    justify-content: space-around;

}

strong {
    display: flex;
    justify-content: center;
    color: #7e438b;
    font-weight: bold;
}

.apresentacao {
    color: #D4C5E0;
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    padding: 20px;
    align-items: center;
    gap: 15px;
}

.eu {
    height: 500px;
    border: solid #4E6AA9 20px;
    border-radius: 90%;
    padding: 0px 0px;

}

.linkedin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2D8D8;
    font-size: 30px;
    background-color: #001E44;
    color: #F2D8D8;
    width: 280px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 24px;
    margin:0px;
    padding: 0px 10px;
    text-decoration: none;
}

.github {
    display: flex;                                          
    justify-content: space-between;
    align-items: center;
    color: #F2D8D8;
    font-size: 30px;
    background-color: #001E44;
    color: #F2D8D8;
    width: 280px;
    border-radius: 40px;
    padding: 0px 10px;
    text-decoration: none;
}
.email{
    display: flex;
    align-items: center;
    color: #F2D8D8;
    font-size: 30px;
    background-color: #001E44;
    color: #F2D8D8;
    width: 280px;
    border-radius: 40px;
    padding: 0px 0px;
    text-decoration: none;
}


a:hover {
    background-color: #1A5774;
    box-shadow: 0 0 40px 40px #001E44 inset, 0 0 0 0 #031A20;
    -webkit-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.githubfavicon {
    width: 62px;
    padding: 15px;
}

.linkedinfavicon {
    width: 90px;
}

.emailfavicon{
    display: flex;
    width: 80px;
}

.rodape {
    display: flex;
    justify-content:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    color: var(--cor-rodape);
    background-color: #001E44;
}

.apresentacao_links {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

@media(max-width:900px) {

    .apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }
}

.sobre_mim_pag_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:medium;
    gap: 30px;


}

.fundo_page_2{
    background-image: url(/assets/time_adventure.jpg);
}